.main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'header'
    'grid';
}

.grid{
    display: grid;
    grid-area: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto ;
    grid-row-gap: 20px;
    
}

.header{
    display: grid;
    grid-area: header;
}

.card{
    display: grid;
    background-color: rgba(255, 255, 255, 0.425);
    place-content: center;
    height:27vh;
    width: 20vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
