.main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'header'
    'grid';
}

.grid{
    display: grid;
    grid-area: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto ;
    grid-row-gap: 20px;
    
}

.header{
    display: grid;
    grid-area: header;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(52, 61, 63, 0.297));
    place-content: center;
    color: white;
}

.card{
    display: grid;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(203, 254, 247, 0.736));
    place-content: center;
    height:32vh;
    width: 13vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
}
