.main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'header'
    'grid';
}

.grid{
    display: grid;
    grid-area: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto ;
    grid-row-gap: 20px;
    
}

.header{
    display: grid;
    grid-area: header;
}

.card{
    display: grid;
    background-image: linear-gradient(rgb(111, 144, 171), rgb(173, 210, 205));
    place-content: center;
    height:32vh;
    width: 13vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
