input{
    height: 2.5em;
    width: 60vw;
    border-radius: 25px;
    padding-left: 10px;
    

}

.searchbody{
    display: grid;
    place-content: center;
    background-color: rgb(16, 42, 49);
}
.SearchBar{
    place-content: center
   ;
}