@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.wrapper{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 3em auto;
    grid-template-areas: 
    'search search'
    'nav body';
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.navigation{
    display: grid;
    grid-area: nav;
    min-height: 100vh;
}

.searchbar{
    display: grid;
    grid-area: search;
}

.body{
    display: grid;
    grid-area: body;
    background-image: url(https://images.pexels.com/photos/3737703/pexels-photo-3737703.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

form{
    background-image: linear-gradient(rgb(255, 255, 255),rgba(255, 149, 0, 0.548));
    border-style: solid;
    border-radius: 25px;
}