.wrapper{
    background-color: rgb(216, 252, 253);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 3em auto;
    grid-template-areas: 
    'search search'
    'nav body';
}

.navigation{
    display: grid;
    grid-area: nav;
    height: 100vh;
}

.searchbar{
    display: grid;
    grid-area: search;
}

.body{
    display: grid;
    grid-area: body;
}