.navbody{
background-image: linear-gradient(rgb(23, 47, 65),rgb(20, 99, 111))
;    text-align: center;
color: white;
    
}
 h{
     display:inline-block;
     border-style: solid;
     padding:9px;
 }